# shellcheck disable=all
# Username
MY_USERNAME=userson

# Full Name
MY_FULLNAME=User McUserson

# NTP Server
MY_NTP=pool.ntp.org

# Domain
MY_DOMAIN=unassigned-domain

# System Hostname
MY_HOSTNAME=unassigned-hostname

# Password Hash (yescrypt)
MY_PASSWORD='$y$j9T$CdKjTO4U8eKs4Pz3tgtCl.$Qqd7a5bMDx5oU3bM6ur6zWmJ6fRSoJFyVpjBxu4oaH/'
