# shellcheck disable=all
# Username
MY_USERNAME=userson

# Full Name
MY_FULLNAME=User McUserson

# NTP Server
MY_NTP=pool.ntp.org

# Domain
MY_DOMAIN=unassigned-domain

# System Hostname
MY_HOSTNAME=unassigned-hostname

# Password Hash (sha512sum)
SHA_HASH='$6$WjjqADCT0feX14dj$92eqN/ppL2gEZhU6Mcua5QOAaY5BPkt5GDRQKEUt9Y0UDABX9fo1XVI6BTkv4bYH36IWhZovdG/uMDhckAwvI0'

# Password Hash (yescrypt)
YES_HASH='$y$j9T$CdKjTO4U8eKs4Pz3tgtCl.$Qqd7a5bMDx5oU3bM6ur6zWmJ6fRSoJFyVpjBxu4oaH/'
